:root {
    --hex-width: 100px;
    --hex-between: 10px;

    --hex-height: calc(var(--hex-width) / 1.73
            /* sqrt(3) */
        );
    --hex-margin: calc(var(--hex-width) / 2);
    --hex-border: calc(var(--hex-margin) / 1.73
            /* sqrt(3) */
        );
    --hex-transition: all .2s ease;

    /* Colors */
    --color-hex-default: #000000;
    --color-hex-hover: #FFFFFF;
    --color-reactjs: #61DAFB;
    --color-java: #007396;
    --color-nodejs: #339933;
    --color-git: #F14E32;
    --color-html: #E34F26;
    --color-javascript: #F7DF1E;
    --color-python: #3776AB;
    --color-css: #1572B6;
    --color-c: #A8B9CC;
    --color-github: #181717;
    --color-vscode: #007ACC;
    --color-canva: #00C4CC;
    --color-office: #D83B01;
    --color-notion: #000000;
    --color-postgresql: #4169E1;
    --color-linux: #FCC624;
}

/* Hexagons */
.hexagon-container {
    display: grid;
    grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
    grid-auto-rows: calc(var(--hex-width) - 28.87px/2);
    grid-gap: var(--hex-between) var(--hex-between);
    padding-bottom: var(--hex-border);
}

.hexagon {
    align-items: center;
    background-color: var(--color-hex-default);
    cursor: pointer;
    display: flex;
    fill: white;
    height: var(--hex-height);
    justify-content: center;
    margin: var(--hex-border) 0;
    position: relative;
    transition: var(--hex-transition);
    width: var(--hex-width);
}

.hexagon::after,
.hexagon::before {
    border-left: var(--hex-margin) solid transparent;
    border-right: var(--hex-margin) solid transparent;
    content: "";
    left: 0;
    position: absolute;
    transition: var(--hex-transition);
    width: 0;
}

.hexagon::after {
    border-top: var(--hex-border) solid var(--color-hex-default);
    top: 100%;
    width: 0;
}

.hexagon::before {
    border-bottom: var(--hex-border) solid var(--color-hex-default);
    bottom: 100%;
}

.hexagon:hover {
    background-color: var(--color-hex-hover);
}

.hexagon:hover::after,
.hexagon:hover::before {
    border-top-color: var(--color-hex-hover);
    border-bottom-color: var(--color-hex-hover);
}

.hexagon:nth-child(8n + 5),
.hexagon:nth-child(8n + 6),
.hexagon:nth-child(8n + 7),
.hexagon:nth-child(8n + 8) {
    margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.hexagon>svg {
    height: 75%;
    transition: var(--hex-transition);
}

/* Colors */
/* Node */
.color-nodejs {
    background-color: var(--color-nodejs);
}

.color-nodejs::after,
.color-nodejs::before {
    border-top-color: var(--color-nodejs);
    border-bottom-color: var(--color-nodejs);
}

.color-nodejs:hover {
    fill: var(--color-nodejs);
}

/* React */
.color-reactjs {
    background-color: #61DAFB;
}

.color-reactjs::after,
.color-reactjs::before {
    border-top-color: #61DAFB;
    border-bottom-color: #61DAFB;
}

.color-reactjs:hover {
    fill: #61DAFB;
}

/* Java */
.color-java {
    background-color: var(--color-java);
}

.color-java::after,
.color-java::before {
    border-top-color: var(--color-java);
    border-bottom-color: var(--color-java);
}

.color-java:hover {
    fill: var(--color-java);
}

/* Git */
.color-git {
    background-color: var(--color-git);
}

.color-git::after,
.color-git::before {
    border-top-color: var(--color-git);
    border-bottom-color: var(--color-git);
}

.color-git:hover {
    fill: var(--color-git);
}

/* HTML */
.color-html {
    background-color: var(--color-html);
}

.color-html::after,
.color-html::before {
    border-top-color: var(--color-html);
    border-bottom-color: var(--color-html);
}

.color-html:hover {
    fill: var(--color-html);
}

/* JavaScript */
.color-javascript {
    background-color: var(--color-javascript);
}

.color-javascript::after,
.color-javascript::before {
    border-top-color: var(--color-javascript);
    border-bottom-color: var(--color-javascript);
}

.color-javascript:hover {
    fill: var(--color-javascript);
}

/* C */
.color-c {
    background-color: var(--color-c);
}

.color-c::after,
.color-c::before {
    border-top-color: var(--color-c);
    border-bottom-color: var(--color-c);
}

.color-c:hover {
    fill: var(--color-c);
}

/* Github */
.color-github {
    background-color: var(--color-github);
}

.color-github::after,
.color-github::before {
    border-top-color: var(--color-github);
    border-bottom-color: var(--color-github);
}

.color-github:hover {
    fill: var(--color-github);
}

/* CSS */
.color-css {
    background-color: var(--color-css);
}

.color-css::after,
.color-css::before {
    border-top-color: var(--color-css);
    border-bottom-color: var(--color-css);
}

.color-css:hover {
    fill: var(--color-css);
}

/* Python */
.color-python {
    background-color: var(--color-python);
}

.color-python::after,
.color-python::before {
    border-top-color: var(--color-python);
    border-bottom-color: var(--color-python);
}

.color-python:hover {
    fill: var(--color-python);
}

/* VS Code */
.color-vscode {
    background-color: var(--color-vscode);
}

.color-vscode::after,
.color-vscode::before {
    border-top-color: var(--color-vscode);
    border-bottom-color: var(--color-vscode);
}

.color-vscode:hover {
    fill: var(--color-vscode);
}

/* Canva */
.color-canva {
    background-color: var(--color-canva);
}

.color-canva::after,
.color-canva::before {
    border-top-color: var(--color-canva);
    border-bottom-color: var(--color-canva);
}

.color-canva:hover {
    fill: var(--color-canva);
}

/* Microsoft Office */
.color-office {
    background-color: var(--color-office);
}

.color-office::after,
.color-office::before {
    border-top-color: var(--color-office);
    border-bottom-color: var(--color-office);
}

.color-office:hover {
    fill: var(--color-office);
}

/* Notion */
.color-notion {
    background-color: var(--color-notion);
}

.color-notion::after,
.color-notion::before {
    border-top-color: var(--color-notion);
    border-bottom-color: var(--color-notion);
}

.color-notion:hover {
    fill: var(--color-notion);
}

/* PostgreSQL */
.color-postgresql {
    background-color: var(--color-postgresql);
}

.color-postgresql::after,
.color-postgresql::before {
    border-top-color: var(--color-postgresql);
    border-bottom-color: var(--color-postgresql);
}

.color-postgresql:hover {
    fill: var(--color-postgresql);
}

/* Linux */
.color-linux {
    background-color: var(--color-linux);
}

.color-linux::after,
.color-linux::before {
    border-top-color: var(--color-linux);
    border-bottom-color: var(--color-linux);
}

.color-linux:hover {
    fill: var(--color-linux);
}



/* Display description */
.code-display {
    position: relative;
    color: #f6f6f6;
    width: 600px;
    height: 260px;
}

.code-display::before {
    /*content: "Expertise";*/
    position: absolute;
    top: -70px;
    left: 0;
    font-size: 3.0rem;
    color: white;
}

.code-description {
    width: 100%;
    height: 100%;
    color: white;
}

.code-description * {
    display: none;
}

.code-description>div {
    padding: 0px 40px;
    font-size: 26px;
    border-left: 2px solid #DDDDDD;
}

.desc-active {
    display: block;
    /*height: 100%;*/
    position: relative;
}

.desc-active>p {
    display: block;
    margin: 0;
}

.desc-active>p>span {
    display: inline-block;
    /* font-weight: bold; */
    width: 125px;
}

p.code-title {
    position: relative;
    font-size: 6rem;
}

.desc-active::after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    opacity: .2;
    z-index: -1;
}

.nodejs-desc.desc-active::after {
    background: url(../img/descriptionBackground/nodejs.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.reactjs-desc.desc-active::after {
    background: url(../img/descriptionBackground/reactjs.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.java-desc.desc-active::after {
    background: url(../img/descriptionBackground/java.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.git-desc.desc-active::after {
    background: url(../img/descriptionBackground/git.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.html-desc.desc-active::after {
    background: url(../img/descriptionBackground/html.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.javascript-desc.desc-active::after {
    background: url(../img/descriptionBackground/javascript.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.python-desc.desc-active::after {
    background: url(../img/descriptionBackground/python.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.css-desc.desc-active::after {
    background: url(../img/descriptionBackground/css.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.c-desc.desc-active::after {
    background: url(../img/descriptionBackground/c.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.github-desc.desc-active::after {
    background: url(../img/descriptionBackground/github.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.vscode-desc.desc-active::after {
    background: url(../img/descriptionBackground/vscode.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.canva-desc.desc-active::after {
    background: url(../img/descriptionBackground/canva.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.office-desc.desc-active::after {
    background: url(../img/descriptionBackground/office.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.notion-desc.desc-active::after {
    background: url(../img/descriptionBackground/notion.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.postgresql-desc.desc-active::after {
    background: url(../img/descriptionBackground/postgresql.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}

.linux-desc.desc-active::after {
    background: url(../img/descriptionBackground/linux.png);
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: right center;
}